<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>futsalservlet</servlet-name>
        <servlet-class>com.buddha.servlet.futsalservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.buddha.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arenaServlet</servlet-name>
        <servlet-class>com.buddha.servlet.arenaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recordServlet</servlet-name>
        <servlet-class>com.buddha.servlet.recordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayServlet</servlet-name>
        <servlet-class>com.buddha.servlet.displayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>com.buddha.servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoServlet</servlet-name>
        <servlet-class>com.buddha.servlet.infoServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>rateServlet</servlet-name>
        <servlet-class>com.buddha.servlet.rateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>individualServlet</servlet-name>
        <servlet-class>com.buddha.servlet.individualServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recommendedFutsal</servlet-name>
        <servlet-class>com.buddha.servlet.recommendedFutsal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingServlet</servlet-name>
        <servlet-class>com.buddha.servlet.bookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bServlet</servlet-name>
        <servlet-class>com.buddha.servlet.bServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preUpdate</servlet-name>
        <servlet-class>com.buddha.servlet.preUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>futsalservlet</servlet-name>
        <url-pattern>/futsalservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arenaServlet</servlet-name>
        <url-pattern>/arenaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recordServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayServlet</servlet-name>
        <url-pattern>/display.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateServlet</servlet-name>
        <url-pattern>/rateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>individualServlet</servlet-name>
        <url-pattern>/individualServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recommendedFutsal</servlet-name>
        <url-pattern>/recommendedFutsal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingServlet</servlet-name>
        <url-pattern>/bookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bServlet</servlet-name>
        <url-pattern>/bServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preUpdate</servlet-name>
        <url-pattern>/preUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
